@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    min-height: 100vh;
}

main{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.bg-image-container{
    min-height: 100vh;
    height: 100%;
    background-color: rgb(100, 69, 135);
    width: 30%;
    position:absolute;
    top: 0;
    left: 0;
    background-image: url(./images/bg-main-desktop.png);
    background-size: cover; 
}

.container{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    max-width: 1200px;
}

/*   CARDS   */

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 2em 4em 2em 0;
}

.card-front{
    position:relative;
    text-align: start;
    margin-bottom: 2em;
    color: white;
}

.front-details{
    position:absolute;
    top: 0;
    left: 0;
    padding: 2em;
    height: 12em;
    width: 23em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.interactive-details{
    width: 100%;
    font-size: 1.5em;
}

.name-date-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.6em;
    margin-top: 2em;
}

.card-back{
    position:relative;
    text-align: end;
}

.cards-container img{
    filter: drop-shadow(20px 20px 70px #00000058); /*  for images use filter: drop-shadow for the shadow to mirror the shape of the img */
    overflow: hidden;
} 

.back-details{
    position:absolute;
    top: 110px;
    right: 50px;
    color: white;
}

/*   FORM   */

.form-container{
    width: 40%;
    display: flex;
    justify-content:  center;
    align-items: center;
    padding: 2em;
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 3em;
}

label{
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.name, .number{
    display: flex;
    flex-direction:column;
}

.cvc, .date{
    display: flex;
    flex-direction:column;
    width: 50%;
}

input{
    font-size: 1em;
    padding: 0.8em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    color: hsl(278, 68%, 11%);
    margin-right: 0.2em;
    border-image: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}

input:focus{
    outline: none;  /* new thing - when button is clicked there is no default styling like border*/
}

.date-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em;
}

.date-input input{
    width: 100%;
}

.date-cvc-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-cardholder{
    text-transform: uppercase;
}

input[type=submit]{
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 1em;
    cursor:pointer;
}

input[type=submit]:active{
    background-color: hsl(278, 43%, 18%);
    transform:scale(0.95);
    transition: transform 0.3s ease;
}


.name, .number, .date, .cvc{
    position: relative;
}

 /*   alert messages  */

.alert-message{
    visibility: hidden;
    color: hsl(0, 100%, 66%);
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.8em;
}

.error > .alert-message{
    visibility:visible;
}

.error > input{
    border-color: hsl(0, 100%, 66%);
}

.success > input{
    border-color: hsl(249, 99%, 64%);
}

/*   THANK YOU   */

.thank-container{
    width: 40%;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.thank-container p{
    color: rgb(170, 170, 170);
    margin-top: 1em;
    font-size: 1em;
}

.thank-container h1{
    margin-top: 1em;
    font-size: 2em;
}

.thank-container button{
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 1em;
    font-size: 1em;
    width: 90%;
    margin-top: 2em;
    border-radius: 10px; 
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.31);
    cursor: pointer;
}

.thank-container button:active{
    background-color: hsl(278, 43%, 18%);
    transform:scale(0.95);
    transition: transform 0.3s ease;
}


@media (orientation:portrait) and (max-width: 970px){

    html{
        overflow-x: hidden;
    }

    body{
        width: 100vw;
        position: fixed; /* so body width is the html width ! but is not scrollable*/
        min-height: 100vh;
    }

    main{
        max-width: 100%;
        width: 100vw;
        min-height: 100vh;
        justify-content: start;
 
    }

    .bg-image-container{
        min-height: 30%;
        width: 100%;
        height: 30%;
    }

    .container{
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cards-container{
        height: 25vh;
        width: 100%;
        padding: 0;
        flex-direction: column-reverse;
        justify-content: end;
    }

    .card-front{
        position:relative;
        top: 7em;
        right: 2em;
        margin: 0;
        z-index: 1;
        transform: scale(0.6);
    }

    .card-back{
        position: relative;
        top: 18em;
        left: 2em;
        transform: scale(0.6);
        margin: 0;
    }

    .form-container{
        height: 75vh;
        width: 90%;
        max-width: 30em;
        padding: 0;
        margin-top: 10vh;
    }

    form{
        width: 100%;
        padding: 0;
    }

    .thank-container{
        height: 70%;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        padding: 0 2em;
    }

    .thank-container button{
        width: 50%;
    }
    

}

@media (orientation:landscape) and (max-width: 800px){

    html{
        overflow-x: hidden;
    }

    body{
        width: 100vw;
        position:static;
        min-height: 100vh;
    }

    main{
        max-width: 100%;
        width: 100vw;
        min-height: 100vh;
    }

    .cards-container{
        width: 40%;
    }

    .form-container{
        width: 60%;
    }

    .thank-container{
        width: 60%;
    }

    .card-front{
        transform: scale(0.6);
        margin: 0;
        bottom: 0;
        right: 3em;
    }

    .card-back{
        transform: scale(0.6);
        margin: 0;
        bottom: 5em;
        right: 3em;
    }

}

@media (orientation:portrait) and (max-width: 414px){

    .card-front{
        position:relative;
        top: 7em;
        right: 2em;
        margin: 0;
        z-index: 1;
        transform: scale(0.4);
    }

    .card-back{
        position: relative;
        top: 19em;
        left: 1em;
        transform: scale(0.4);
        margin: 0;
    }

}

@media (orientation:landscape) and (max-width: 680px){

    .thank-container{
    text-align: center;
    padding-left: 5em;
    }

    .thank-container h1{
        font-size: 1em;
    }

    .thank-container p{
        font-size: 1em;
    }
}
